*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Mulish', sans-serif;
    background: linear-gradient(#21c08b, #AB88FF);
}

header{
    display: flex;
    /* background-color: #21c08b; */
    color:white;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    top: 0px;
    width: 100%;
}
.header__img{
    width: 200px;
    margin-left: 30px;
}

.register{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    min-height: calc(100vh - 200px);
}

.register__container{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 40px;
    color: white;
    padding: 40px 68px 40px;
    min-height: 600px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.45);
}

.register__container--form{
    display: flex;
    flex-direction: column;
}

.register__container--form a{
    color: white;
    padding-top: 30px;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 1.6rem;
    text-decoration: none;
}

.register__container--form a:hover{
    text-decoration: underline;
}

.input{
    background-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid white;
    margin-bottom: 20px;
    padding: 0px 20px;
    outline: none;
    height: 50px;
}
::placeholder{
    color: white;
    font-family: 'Mulish', sans-serif;
    font-size: 1.6rem;
}

.button{
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: bold;
    font-family: 'Mulish', sans-serif;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0px;
}

.footer{
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    /* background-color: #AB88FF; */
}

.footer a{
    color: white;
    cursor: pointer;
    font-size: 1.4rem;
    padding-left: 30px;
    text-decoration: none;
}

.footer a:hover{
    text-decoration: underline;
}